[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
ipython = '*'
black = "*"

[packages]
Django = ">=2.2.3"
django-extensions = "*"
djangorestframework = "*"
django-rest-auth = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
